<!DOCTYPE html>
<html lang="en">
    <head>
        <% include head.ejs %>
    </head>
    <body class="container">
        
        <% include header %>
        
        <div><%= message %></div>
        
        <% include footer %>
        
    </body>
</html>