//-
   Created by fernando.godinho on 10/06/15.
doctype html
html
    head
        title!= title
    body
        // visible comment
        p!= message
        //- hidden comment
        img(src="img/malk.jpg")
        p Jade
        p © Copyright 2015 Darkhounds
