//-
   Created by fernando.godinho on 10/06/15.
extends ./../layout/index

block content
    div(class="panel, auth")
        div(class="line, input", id="username")
            div(class="label") Username:
            input(type="text", name="username", value=username)
        div(class="line, input", id="password")
            div(class="label") Password:
            input(type="password", name="password")