extends ./../layout/index

block content
    script.
        var submitForm = function () {
            var form = document.getElementById('FORM');
            form.submit();
        }

    div#AUTH(class="panel, auth")
        form#FORM(action="login/validate" method="post")
            input#STAGE(hidden=true, name="stage" value="auth")
            div#USERNAME(class="line, input")
                div(class="label") Username:
                input(type="text", name="username", value=username)
            div#PASSWORD(class="line, input")
                div(class="label") Password:
                input(type="password", name="password")
            div#CONTROLLERS(class="line, controllers")
                button#SUBMIT(type="button", onclick="submitForm()") GO!